// color Pallette
$black: #111111;
$gray: #3A3A3A;
$lesserGray: #7a7a7a;
$white: #ffffff;
$yellow: #FEBD29;


// functions
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin marginPadding0 {
  margin: 0;
  padding: 0;
}


// styles
:root {
  font-family: Roboto Regular, sans-serif;
  color: $white;
  background-color: $gray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @include marginPadding0;
}

#homepage {
  @include flex(column, flex-start, center);

  .banner {
    @include flex(column, center, center);
    background: linear-gradient(to right, #000000, #FEBD29, #000000);
    width: 100%;
    height: 210px;
  }

  .top {
    @include flex(row, space-between, center);
    margin-top: -210px;
    height: 420px;
    width: 100%;

    .time-progress {
      @include flex(row, flex-start, flex-start);
      margin-left: 120px;
      width: 360px;
      height: 140px;
      background-color: $black;
      border: black 1px solid;
      border-radius: 9px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

      .progress-bar {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 9px;
      }
    }

    .profile {
      margin-right: 120px;
      width: 260px;
      height: 270px;
      background-color: $black;
      border: black 1px solid;
      border-radius: 3px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }
  }

  .content {
    margin: 0 176px;

    h1 {
      font-size: 24px;
      font-weight: 400;
    }

    .first-section {
      @include flex(row, flex-start, flex-start);

      .skills {
        @include flex(column, flex-start, flex-start);
        margin-right: 150px;

        .skills-graphic {
          @include flex(column, center, center);
          width: 400px;
          height: 270px;
          background-color: $black;
          border: black 1px solid;
          border-radius: 3px;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        }
      }

      .central {
        @include flex(column, flex-start, flex-start);

        .central-content {
          @include flex(row, flex-start, flex-start);
          flex-wrap: wrap;
          gap: 20px;

          .card {
            color: $white;
            text-decoration: none;
            width: 200px;
            height: 180px;
            background-color: $black;
            border: black 1px solid;
            border-radius: 3px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
  }
}

#watchlist {
  @include flex(column, flex-start, center);

  .t-a-bar {
    @include flex(row, space-between, center);
    width: 95%;
    background-color: $black;
    color: $lesserGray;
    border-radius: 7px;
    margin: 9px;

    h1 {
      font-size: 26px;
      font-weight: 800;
      margin: 7px 0 7px 0;
    }

    button {
      margin: 0 25px 0 25px;
      width: 140px;
      height: 25px;
      background-color: $black;
      color: $lesserGray;
      border: $black 1px solid;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .alone,
  .together {
    @include flex(column, flex-start, center);
    @include marginPadding0;
    width: 100%;

    section {
      @include flex(column, flex-start, center);
      @include marginPadding0;
      width: 100%;

      .min-max-div {
        @include flex(row, space-between, center);
        @include marginPadding0;
        width: 80%;
        background-color: $black;
        color: $lesserGray;
        border-radius: 7px;
        margin: 9px;

        button {
          background-color: $black;
          border: none;
          color: $lesserGray;
          font-size: 14px;
          font-weight: 600;
          margin: 0 20px 0 20px;
          width: 30px;
        }

        h1 {
          font-size: 22px;
          font-weight: 800;
          margin: 7px 0 7px 0;
        }

      }
    }
  }

  #invisible-btn,
  #invisible-btn:hover {
    background-color: $black;
    color: $black;
    border: none;
  }

  .new-season-section,
  .untagged {
    @include flex(row, space-between, center);
    @include marginPadding0;
    width: 80%;
    background-color: $black;
    color: $lesserGray;
    border-radius: 7px;
    margin: 9px;

    h2 {
      font-size: 26px;
      font-weight: 800;
      margin: 7px 0 7px 0;
    }
  }

  .untagged {}

  .new-season-section {
    button {
      margin: 0 85px 0 85px;
      width: 140px;
      height: 25px;
      background-color: $lesserGray;
      color: $black;
      border: $black 1px solid;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 600;
    }

    button:hover {
      background-color: $yellow;
      color: $black;
    }
  }

  .tag-modal,
  .new-anime-modal {
    @include flex(column, center, center);
    @include marginPadding0;
    background-color: $black;
    text-align: center;
    color: $lesserGray;
    border-radius: 7px;
    margin: 9px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    .x-button,
    .x-button:hover {
      background-color: rgb(255, 80, 80);
      border: rgb(255, 60, 60) 1px solid;
      margin: 7px 7px 0 0;
      width: 14px;
      height: 14px;
      border-radius: 20px;
      align-self: flex-end
    }

    section {
      @include flex(row, center, flex-start);

      div {
        @include flex(column, center, center);

        h1 {
          width: 110px;
          font-size: 16px;
          font-weight: 800;
          margin: 3px 0 10px 0;
        }
      }
    }
  }

  .new-anime-modal {
    padding-bottom: 7px;

    .selected {
      background-color: $yellow;
      color: $black;
    }

    .submit-btn {
      width: 140px;
      height: 40px;
      background-color: $lesserGray;
      color: $black;
      border: $black 1px solid;
      border-radius: 3px;
      margin: 5px;
      font-size: 16px;
      font-weight: 1000;
    }

    .submit-btn:hover {
      background-color: $yellow;
      color: $black;
    }

    #new-season {
      width: 100px;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
      margin: 7px 0 10px 0;
    }

    form {
      @include flex(column, center, center);
      width: 350px;
      padding-bottom: 10px;

      input {
        width: 300px;
        height: 25px;
        background-color: $black;
        color: $lesserGray;
        border: $lesserGray 1px solid;
        border-radius: 3px;
        font-size: 12px;
        margin: 5px;
      }

      button {
        width: 80px;
        height: 25px;
        background-color: $lesserGray;
        color: $black;
        border: $black 1px solid;
        border-radius: 3px;
        margin: 5px;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  .tag-modal {
    width: 260px;
    padding-bottom: 10px;

    button {
      width: 80px;
      height: 25px;
      background-color: $lesserGray;
      color: $black;
      border: $black 1px solid;
      border-radius: 3px;
      margin: 5px;
      font-size: 12px;
      font-weight: 600;
    }

    button:hover {
      background-color: $yellow;
      color: $black;
    }

    .new-season {
      width: 100px;
    }
  }

  .deck {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10% 0 10%;

    .to-watch {
      border: $yellow 2px solid;
      box-shadow: 0px 0px 10px 0px rgb(254, 189, 41, 0.75);
    }

    .watched {
      border: $black 2px solid;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }

    .card {
      @include flex(column, flex-start, center);
      text-align: center;
      width: 225px;
      background-color: $black;
      color: $lesserGray;
      border-radius: 7px;
      margin: 9px;

      img {
        width: 225px;
        height: 319px;
      }

      h3 {
        @include flex(column, center, center);
        @include marginPadding0;
        font-size: 16px;
        font-weight: 600;
        height: 50px;
      }

      input {
        width: 100%;
        height: 46px;
        background-color: $black;
        color: $lesserGray;
        border: $lesserGray 1px solid;
        border-radius: 0 0 7px 7px;
        font-size: 14px;
      }

      .card-top {
        @include flex(row, flex-start, center);
        height: 25px;
        width: 225px;

        p {
          @include marginPadding0;
          font-size: 14px;
          font-weight: 600;
          width: 160px;
          min-height: 20px;
        }

        input {
          width: 155px;
          height: 19px;
          background-color: $black;
          color: $lesserGray;
          border: $gray 1px solid;
          border-radius: 0;
          font-size: 12px;
        }

        .o-button,
        .x-button,
        .t-button {
          width: 14px;
          height: 14px;
          border-radius: 20px;
        }

        .o-button {
          background-color: rgb(250, 180, 50);
          border: rgb(250, 180, 50) 1px solid;
          margin: 0 5px 0 5px;
        }

        .t-button {
          background-color: rgb(114, 187, 65);
          border: rgb(114, 187, 65) 1px solid;
          margin: 0 0 0 5px;
        }

        .x-button {
          background-color: rgb(255, 80, 80);
          border: rgb(255, 60, 60) 1px solid;
          margin: 0 5px 0 6px;
        }
      }
    }
  }

  .home-btn {
    width: 200px;
    background-color: $black;
    color: $lesserGray;
    border: $black 1px solid;
    border-radius: 3px;
    font-size: 26px;
    font-weight: 800;
    margin: 60px 0 100px 0;
  }

  .home-btn:hover {
    background-color: $yellow;
    color: $black;
  }
}